@model OrderViewModel
@*<h1><a asp-controller="Order" asp-action="Details" asp-route-id="@Model.Id">Order ID: @Model.Id</a></h1>*@
<h1><label asp-for="@Model.Id" asp-controller="Order" asp-action="Details" asp-route-id="@Model.Id"></label>@Html.TextBoxFor(x => x.Id)</h1>
<h1><label asp-for="@Model.FullName"></label>@Html.TextBoxFor(x => x.FullName)</h1>
